<%- include('./layout/Header') %>
<%- include('./layout/Navbar') %>
  <div class="add-to-diary">
    <h1>Add <span class="color-text">Task</span></h1>
    <form action="/todo/post" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" />
            <label for="description">Description</label>
            <textarea name="description" cols="30" row="10" id="description"></textarea>
        </div>
        <input type="submit" value="Add Task" />
        <a href="/" class="back">Back</a>
    </form>
  </div>
<%- include('./layout/Footer') %>