<%- include('./layout/Header') %>
<%- include('./layout/Navbar') %>
    <div class="showcase">
        <h1>Victoria's <span class="color-text">Tasks</span> - &#128540;</h1>
        <div class="add-container">
            <div class="add">
                <p>Add Task</p>
                <a href="/add">ADD</a>
            </div>
            <div class="add">
                <p>Show Tasks</p>
                <a href="/todo">Show</a>
            </div>
         </div>
<%- include('./layout/Footer') %>